<h4>Your info</h4>
<form>
    <div class="form-group">
        <label for="dateinput">Last visit :</label>
        <input required type="date" class="form-control" id="dateinput" ng-model="restaudetail.dateLastVisite">
    </div>
    <div class="form-group">
        <label for="rating">Notation :</label>
        <select class="form-control" id="rating" required ng-model="restaudetail.noteLastVisite">
            <option value=""></option>
            <option value="1">⭐</option>
            <option value="2">⭐⭐</option>
            <option value="3">⭐⭐⭐</option>
            <option value="4">⭐⭐⭐⭐</option>
            <option value="5">⭐⭐⭐⭐⭐</option>
        </select><br />
    </div>
    <div class="form-group">
        <label for="commentinput">Your comment :</label>
        <textarea required type="text" class="form-control" id="commentinput" ng-model="restaudetail.lastcomment">
    </div>
    <button type="submit" class="btn btn-primary" ng-click="sumbit()">Submit ✔</button>
    <button class="btn btn-danger" ng-click="cancel()">Cancel ❌</button>
</form>