<h4>Edit Restaurant information</h4>
<form name="updateform" novalidate>
    <!--nom-->
    <div class="form-group">
        <div style="height: 24px; color: red;">
            <div ng-show="updateform.updatedate.$invalid && updateform.updatedate.$dirty">
                Veuillez écrire
                un nom.</div>
        </div>
        <h5 for="dateinput">Restaurant Name:</h5>
        <input required  type="text" class="form-control" id="commentinput"
            ng-model="myrestau.name" name="updatecomment"></input>
    </div>
    <!--adress-->
    <div class="form-group">
        <div style="height: 24px; color: red;">
            <div ng-show="updateform.updatecomment.$invalid && updateform.updatecomment.$dirty">
                Veuillez écrire
                une adress.
            </div>
        </div>
        <h5 for="commentinput">Adress :</h5>
        <input required  type="text" class="form-control" id="commentinput"
            ng-model="myrestau.address" name="updatecomment"></textarea>
    </div>
    <!--description-->
    <div class="form-group">
        <div style="height: 24px; color: red;">
            <div ng-show="updateform.updatecomment.$invalid && updateform.updatecomment.$dirty">
                Veuillez écrire
                une description.
            </div>
        </div>
        <h5 for="commentinput">Description :</h5>
        <textarea required  type="textarea" class="form-control" id="commentinput"
            ng-model="myrestau.about" name="updatecomment"></textarea>
    </div>
    <!--owner-->
    <div class="form-group">
        <div style="height: 24px; color: red;">
            <div ng-show="updateform.updatedate.$invalid && updateform.updatedate.$dirty">
                Veuillez écrire
                un nom.</div>
        </div>
        <h5 for="dateinput">Owner name :</h5>
        <input required  type="text" class="form-control" id="commentinput"
            ng-model="myrestau.ownerName" name="updatecomment"></input>
    </div>
    <!--email-->
    <div class="form-group">
        <div style="height: 24px; color: red;">
            <div ng-show="updateform.updatedate.$invalid && updateform.updatedate.$dirty">
                Veuillez écrire
                un email.</div>
        </div>
        <h5 for="dateinput">Email :</h5>
        <input required type="email" class="form-control" id="mailinput"
            ng-model="myrestau.email" name="updatecomment"></input>
    </div>

    <button class="btn btn-danger" ng-click="cancel()">Cancel ❌</button>
    <button type="submit" class="btn btn-primary" ng-click="valider()" ng-disabled="updateform.$invalid">Submit
        ✔</button>
    <button type="submit" class="btn btn-primary" ng-click="delete()">Delete
        🚮</button>
</form>