<div ng-if="restaudetail">
  <h2>{{restaudetail.name}}</h2>
  <b>📍 Location :</b> {{restaudetail.address.number}} {{restaudetail.address.road}} {{restaudetail.address.city}}
  {{restaudetail.address.state}}</br>
  <b>🍩 Description :</b> {{restaudetail.about}}</br>
  <b>👩‍🍳 Owner :</b> {{restaudetail.ownerName}}</br>
  <b>📧 Email :</b> {{restaudetail.email}}</br>
  <hr>
  <h4>Your last thoughts</h4>
  <b>📅 Last visite :</b> {{restaudetail.dateLastVisite | date:'yyyy-MM-dd'}}</br>
  <b>💬 Last comment :</b> {{restaudetail.lastcomment}} </br>
  <b>⭐ Last rating :</b>
  <ng-switch on="restaudetail.noteLastVisite">
    <span ng-switch-when="1">⭐</span>
    <span ng-switch-when="2">⭐⭐</span>
    <span ng-switch-when="3">⭐⭐⭐</span>
    <span ng-switch-when="4">⭐⭐⭐⭐</span>
    <span ng-switch-when="5">⭐⭐⭐⭐⭐</span>
  </ng-switch></br>
<!-- <updateform restaudetail="restaudetail"></updateform>-->
 <adminupdateform restaudetail="restaudetail"></adminupdateform>
</div>