<div>
    <table class="table table-striped" style="width:100%">
        <tr>
            <th>📛</th>
            <th>📍</th>
            <th>📅</th>
            <th>⭐</th>
        </tr>
        <tr ng-repeat="rest in restaurants " ng-click="selectRestau(rest)" style="cursor:pointer;">
            <td>{{rest.name}} </td>
            <td>{{rest.address.number}} {{rest.address.road}} {{rest.address.city}} {{rest.address.state}}</td>
            <td>{{rest.dateLastVisite}}</td>
            <td>{{rest.noteLastVisite}}</td>
            <!--
            <restaurantdetaillist restau="rest"></restaurantdetaillist>
        -->
        </tr>
    </table>
</div>